  <!-- icons -->
  <div>Icons made by
  <a href="http://www.freepik.com" title="Freepik">Freepik</a>
  <a href="http://www.elegantthemes.com" title="Elegant Themes">Elegant Themes</a>
  <a href="http://yanlu.de" title="Yannick">Yannick</a>
  <a href="http://www.simpleicon.com" title="SimpleIcon">SimpleIcon</a>
  <a href="http://www.google.com" title="Google">Google</a>
  <a href="http://icon-works.com" title="Icon Works">Icon Works</a>
  from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
  is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>


  <!-- social -->
  <div>Icons made by <a href="http://fontawesome.io" title="Dave Gandy">Dave Gandy</a>
    <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>       is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

    <div>Icons made by <a href="http://www.elegantthemes.com" title="Elegant Themes">Elegant Themes</a>
      <a href="http://tutsplus.com" title="TutsPlus">TutsPlus</a>, <a href="http://www.icomoon.io" title="Icomoon">Icomoon</a>
      <a href="http://www.freepik.com" title="Freepik">Freepik</a>
      <a href="http://RamiMcM.in" title="Rami McMin">Rami McMin</a>
      from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
      is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

    <!-- nav -->
    <div>Icons made by <a href="http://www.elegantthemes.com" title="Elegant Themes">Elegant Themes</a>
      <a href="http://tutsplus.com" title="TutsPlus">TutsPlus</a>
      <a href="http://www.icomoon.io" title="Icomoon">Icomoon</a>
      <a href="http://www.freepik.com" title="Freepik">Freepik</a>
      <a href="http://RamiMcM.in" title="Rami McMin">Rami McMin</a>
      from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
      is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
