%header
  - if me?
    = link_to 'make post', new_post_path
%body
  - if Post.count == 0
    %h1 Posts go here
  - else
    - Post.order('published_at desc').each do |post|
      = make_preview(post)
%footer
  - if me?
    = link_to 'sign out', signout_path
  - else
    = link_to 'sign in', signin_path
