%header
  - if me?
    = link_to 'make post', new_post_path
#container
  - if Post.count == 0
    %h1 posts go here
  - else
    - Post.sort.each do |post|
      = preview(post)
%footer
  - if me?
    = link_to 'sign out', signout_path
  - else
    = link_to 'sign in', signin_path
