/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*POSITIONING*/
header {
  height: 150px;
  background-color: #6179ff;
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
  position: relative;
  /*background: url('lemaire-crop.jpg') no-repeat;*/
}

  #brand {
    position: absolute;
    height: 50%;
    width: 100%;
  }

  #nav-bar {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
  }

    #nav-general {
      position: absolute;
      height: 100%;
      width: 80%;
      min-width: 210px;
    }

    #nav-admin, #nav-signin {
      position: absolute;
      right: 0;
      height: 100%;
      width: 20%;
      min-width: 240px;
    }

      #nav-admin .link-icon, #nav-signin .link-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        height: 48px;
        width: 48px;
      }

      #admin-dropdown {
        position: absolute;
        padding: 8px;
        background-color: #6179ff;
        width: 176px;
        text-align: right;
        font-size: 16px;
        border: solid white;
        display: none;
      }

      #admin-dropdown li {
        padding-bottom: 4px;
      }


/*PRETTIFYING*/
header div {
  padding: 0;
  margin: 0;
}

header ul {
  list-style: none;
}

#brand h1 {
  font-style: italic;
  font-size: 48px;
}

.horiz-list {
  padding: 20px 0;
}

.horiz-list li {
  display: inline;
}

body {
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  background-color: #6179ff;
  padding: 0 5%;
  min-width: 504px;
}

header a, header a:hover, header a:visited {
  color: white;
  padding: 5px;
}

a, a:focus, a:hover, a:visited {
  text-decoration: none;
}

header small {
  color: white;
  font-size: 33%;
}

#nav-general a {
  font-size: 150%;
}

#container a, #container a:hover, #container a:visited {
  color: #0f5fba;
}

.menu-section {
  padding: 8px 0;
  border-bottom: solid white;
}

code {
  color: black;
  background-color: #f5f5f5;
}
