/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  background-color: rgba(18, 62, 196, 0.75);
}

header {
  height: 150px;
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
  /*background: url('lemaire-crop.jpg') no-repeat;*/
}

header a, header a:hover, header a:visited {
  color: white;
  padding: 5px;
}

header #brand a {
  margin: 0 7.5%;
  height: 50%;
  /*color: black;*/
}

header h1 {
  font-style: italic;
  font-size: 48px;
}

header #nav-bar {
  position: relative;
  height: 50%;
  margin: 0 7.5%;
}

header #nav-general {
  position: absolute;
  bottom: 20px;
  float: left;
  font-size: 24px;
}

header #nav-admin {
  bottom: 0;
  float: right;
}

header h1 {
  margin: 0;
  padding: 20px 5px 10px 5px;
}

header small {
  color: white;
  font-size: 33%;
}

a, a:focus, a:hover, a:visited {
  text-decoration: none;
}

#container {
  margin: 0 7.5%;
  padding: 0 5%;
  background-color: white;
}

#container a, #container a:hover, #container a:visited {
  color: #0f5fba;
}

.link-icon {
  height: 48px;
  width: auto;
  position: relative;
  top: 16px;
}
