// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-article { display: none; }

.preview-div {
  padding: 10px;
  margin: 10px;
}

.public-view {
  background: white;
}

.draft-view {
  background: #daddfe;
}

.post-field {
  height: 400px;
  width: 90%;
}

.show {
  background: white;
}
